.navbar {
  background-color: #212529;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.panel {
  transition: 0.3s;
}

.panel:hover {
  box-shadow: 0 0 10px #ccc;
  transform: translateY(-5px);
}
.footer {
  background: #222;
  color: #fff;
  padding: 20px;
  margin-top: 40px;
}
.produk-card {
  min-height: 220px;
}

.jumbotron {
  padding: 100px 0;
  margin-bottom: 60px;
  background-color: #f8f8f8;
}

.footer {
  background: #222;
  color: white;
  padding: 20px;
  margin-top: 50px;
}

.produk-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.col-md-6 img {
  width: 85%;
  margin-left: 35px;
  height: 400px;
}

.col-md-5 img {
  width: 85%;
  height: 400px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
